.table-btn {
  width: 100px;
  height: 70px;
  background: rgba(0,0,0,0.05);
  border: 2px solid #b38f00;
  color: #b38f00;
  border-radius: 10px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s ease-in-out;
  position: relative;
}

.table-btn:hover {
  transform: scale(1.05);
  background: rgba(179, 143, 0, 0.15);
}

.table-btn.selected {
  border: 3px solid #00aa44;
  box-shadow: 0 0 8px #00aa44;
  background: rgba(0,170,68,0.25);
}

.table-btn.unavailable {
  background: rgba(255,0,0,0.25);
  border-color: red;
  cursor: not-allowed;
}

.table-btn.unavailable:hover {
  transform: none;
}
